<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Aniket/Documents/GitHub/rt-camp-assignment2">
        <classes>
            <class name="com.qa.testrunner.TestNG">
                <methods>
                    <include name="sortDescending"/>
                    <include name="sortHighToLow"/>
                    <include name="addingProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>